[submodule "modules/scikit-surgeryvtk"]
	path = modules/scikit-surgeryvtk
	url = https://github.com/UCL/scikit-surgeryvtk
	branch = master
[submodule "modules/scikit-surgerycore"]
	path = modules/scikit-surgerycore
	url = https://github.com/UCL/scikit-surgerycore
	branch = master
[submodule "modules/scikit-surgeryimage"]
	path = modules/scikit-surgeryimage
	url = https://github.com/UCL/scikit-surgeryimage
	branch = master
[submodule "modules/scikit-surgerycalibration"]
	path = modules/scikit-surgerycalibration
	url = https://github.com/UCL/scikit-surgerycalibration
	branch = master
[submodule "scikit-surgeryutils"]
	path = scikit-surgeryutils
	url = https://github.com/UCL/scikit-surgeryutils
[submodule "modules/scikit-surgeryutils"]
	path = modules/scikit-surgeryutils
	url = https://github.com/UCL/scikit-surgeryutils
[submodule "modules/scikit-surgerytf"]
	path = modules/scikit-surgerytf
	url = https://github.com/UCL/scikit-surgerytf
[submodule "modules/scikit-surgerysurfacematch"]
	path = modules/scikit-surgerysurfacematch
	url = https://github.com/UCL/scikit-surgerysurfacematch
[submodule "modules/scikit-surgerytorch"]
	path = modules/scikit-surgerytorch
	url = https://github.com/UCL/scikit-surgerytorch
[submodule "modules/scikit-surgerynditracker"]
	path = modules/scikit-surgerynditracker
	url = https://github.com/UCL/scikit-surgerynditracker
[submodule "modules/scikit-surgeryarucotracker"]
	path = modules/scikit-surgeryarucotracker
	url = https://github.com/UCL/scikit-surgeryarucotracker
