---
---


// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #000 !default;
$header-bg-color: #ffff99;
$header-bg-color-secondary: #ffff99;



// Text
$section-headings-color: #0000ff;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

//logo

#logo {
    margin: 0 auto;
    max-width: 50%;
    width: auto;
    height: auto;
    display: block;
  }
  

  .btn {
    // color: #0000ff;
    border-color: #0000ff; 
    background-color: #008CBA;
  } 

  .btn:hover {
    color: rgba(162, 242, 71, 0.8);
    text-decoration: none;
    background-color: rgba(156, 133, 2, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
